<app-head-banner></app-head-banner>
<section class="jumbotron text-center">
      
    <div class="container">
      <h1 class="jumbotron-heading">About TU-GO</h1>
      <h4>Navigate to the Einsteins, Freshii, or Taco Taco page to see available items to be added to your cart. Once you hit 'add to cart' they will be moved to your cart (even if it doesn't seem like it). If you're ready to checkout, navigate to the cart page where you can find both a 'clear cart' button as well as a 'checkout' button. Upon checkout you need to enter your Trinity ID to purchase your meal via swipe or bonus bucks. </h4>
      
    </div>
  </section>