#wrap{
    background-color: rgb(255, 255, 255);
}
h2{
    color: maroon ;
    width: 100%;
}

#prods{

    display:block inline;
    color:white;
    background-color: maroon;
}
.container{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
}
.jumbotron{
    background-image: url("/assets/images/freshiis.jpg");
    background-repeat: repeat;
    
}
button{
    background-color: brown;
    border-color: rgb(171, 110, 110);
    font-size: small;
}
#add{
    background-color: white;
    color:brown;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
