#wrap{
    background-color: rgb(255, 255, 255);
}
h2{
    color: maroon ;
    margin-left:15%;
}

#prods{
    width:70%;
    display:block inline;
    color:white;
    background-color: maroon;
}
.container{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
}
.jumbotron{
    background-image: url("/assets/images/carts.jpg");
    background-repeat: repeat;
    
}
btn{
    margin-left:15%;
}
button{
    background-color: brown;
    border-color: rgb(171, 110, 110);
    font-size: small;
}
