<!-- Starter HTML for home page component -->
<div class="home">
    <h1>Welcome to TU-GO</h1>
    <p>
        Hello! Welcome to our application. This app will allow you to order food directly
        from campus dining services. It will work by giving you options for food orders,
        which you can place into your virtual cart. When ready, you can check out and
        a message will be sent to dining services, telling them what you would like to order.
        When the food is finished, you will you be notified so that you can come get it.
    </p>
    <br>
    <p>Testing:</p>
    <button (click)="displayValue()">Get Data Value</button>
</div>