<app-head-banner></app-head-banner>
<div>
    <img src="assets/images/trinityu.jpg" class="img-fluid pb-5" alt="Responsive image">
</div>
<div id="group1">
    <div class="p-3" id= "cart">
        <div class="panel panel-primary" id="cart_Panel">
            <div class="panel-heading">Cart</div>
            <div class="panel-body">
              <h3>Items</h3>
            </div>
          </div>
    </div>
    <div class="container" id="banners">
        <div class="row m-3">
            <img src="assets/images/einstein_banner.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="row m-3" >
            <img src="assets/images/freshii_banner.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="row m-3">
            <img src="assets/images/tacotaco_banner.jpg" class="img-fluid" alt="Responsive image">
        </div>
        
    </div>
</div>
